.search-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  h1 {
    color: #fff;
  }
  .search-fields-container {
    width: 50%;
  }
  @media screen and (max-width: 768px) {
    .search-fields-container {
      h1 {
        font-size: 18px;
      }
      width: 100%;
      .search-tools {
        flex-wrap: wrap;
        .input-wrapper {
          width: 20%;
          &:first-of-type {
            width: 40%;
          }
        }
        .nasa-button {
          flex: 1;
        }
      }
    }
  }
  @media screen and (max-width: 425px) {
    .search-fields-container {
      h1 {
        font-size: 18px;
      }
      width: 100%;
      .search-tools {
        flex-wrap: wrap;
        .input-wrapper {
          width: 35%;
          &:first-of-type {
            width: 100%;
          }
        }
        .nasa-button {
          flex: 1;
        }
      }
    }
  }
}
